{{ define "main" }}
<div class="container" role="main">
        <article class="article" class="blog-post">
                <div class="postmeta">
                        {{ partial "postmeta.html" . }}
                </div>
                {{ partial "toc.html" . }}

                {{ if .Params.tags }}
                <div class="blog-tags">
                        <h4>Tags</h4>
                        {{ range .Params.tags }}
                        <a href="{{ (urlize (printf "tags/%s/" .)) | absLangURL }}">{{ . }}</a>&nbsp;
                        {{ end }}
                </div>
                {{ end }}
                {{ $pages := where .Site.RegularPages "Type" "posts" }}
                {{ $pages := where .Site.RegularPages "Type" "posts" }}
                <nav class="post-navigation">
                        {{ with $pages.Prev . }}
                        <a href="{{ .Permalink }}">← Previous Post</a>
                        {{ end }}
                        <a href="{{ .Site.BaseURL }}">All Posts</a>
                        {{ with $pages.Next . }}
                        <a href="{{ .Permalink }}">Next Post →</a>
                        {{ end }}
                </nav>
        </article>
        {{ if and (gt .WordCount 400) (.Param "backtotop") }}
        {{ partial "backtotop.html" . }}
        <button onclick="topFunction()" id="backtotopButton">
                <i class="fa fa-angle-up"></i>
        </button>
        {{ end }}
</div>
{{ end }}
