
body {
    background: #000000;
    color: #ffffff;
    font-size: 16px;
    font-family: monospace;
    line-height: 1.6;
    max-width: 80ch;
    margin: 40px auto;
    padding: 0;
}

@media (max-width: 768px) {
    body {
        max-width: 80%;
        margin: 40px auto;
    }
}

a {
    color: inherit;
}

code, pre {
    line-height: 1.2;
    white-space: pre;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center; /* vertically centers links to logo */
}

.nav-right {
    display: flex;
    gap: 1rem;
}

/* On smaller screens, stack links vertically */
@media (max-width: 768px) {
    .nav-right {
        flex-direction: column;
        align-items: flex-end; /* keeps links to the right */
        gap: 0.5rem;
    }
}


/* remarkdown core */
.remarkdown {
  line-height: 1.5;
  font-family: monospace, monospace;
}
.remarkdown pre,
.remarkdown code,
.remarkdown kbd,
.remarkdown samp {
  font-family: inherit;
}

/* headings */
.remarkdown h1,
.remarkdown h2,
.remarkdown h3,
.remarkdown h4,
.remarkdown h5,
.remarkdown h6 {
  font-size: inherit;
  font-weight: inherit;
  margin-top: 2.25em;
  margin-bottom: 1.5em;
}
.remarkdown h3,
.remarkdown h4,
.remarkdown h5,
.remarkdown h6 {
  margin-top: 1.5em;
}

/* h1-underline, h2-underline */
.remarkdown.h1-underline h1,
.remarkdown.h2-underline h2 {
  display: table;
  overflow: hidden;
  position: relative;
  padding-bottom: 1.5em;
}
.remarkdown.h1-underline h1::after {
  content: "================================================================";
  position: absolute;
  bottom: 0; left: 0;
  height: 1.5em; width: 100%;
  overflow: hidden;
  word-break: break-all;
  cursor: default;
}
.remarkdown.h2-underline h2::after {
  content: "----------------------------------------------------------------";
  position: absolute;
  bottom: 0; left: 0;
  height: 1.5em; width: 100%;
  overflow: hidden;
  word-break: break-all;
  cursor: default;
}

/* paragraphs, lists, etc. */
.remarkdown p { margin-top: 1.5em; margin-bottom: 1.5em; }
.remarkdown figure { margin: 1.5em 0; }
.remarkdown hr { height: 1.5em; line-height: 1.5em; margin: 1.5em 0; border: none; color: inherit; }
.remarkdown hr::before { content: "* * * *"; }

.remarkdown ul { margin: 1.5em 0 1.5em 4ch; padding: 0; list-style: none; }
.remarkdown li ul { margin-top: 0; margin-bottom: 0; }
.remarkdown ul > li::before { float: left; width: 1ch; margin-left: -4ch; margin-right: 1ch; content: "-"; }

.remarkdown ol { margin: 1.5em 0 1.5em 4ch; padding: 0; list-style: none; counter-reset: rmd-ol; }
.remarkdown li ol { margin-top: 0; margin-bottom: 0; }
.remarkdown ol > li { counter-increment: rmd-ol; }
.remarkdown ol > li::before { float: left; margin-left: -4ch; margin-right: 1ch; min-width: 2ch; content: counter(rmd-ol) "."; }

.remarkdown a::before { content: "["; }
.remarkdown a::after { content: "]"; }

.remarkdown em, .remarkdown strong { font-style: normal; font-weight: normal; }
.remarkdown em::before, .remarkdown em::after { content: "*"; }
.remarkdown strong::before, .remarkdown strong::after { content: "**"; }

.remarkdown code::before, .remarkdown code::after { content: "`"; }
.remarkdown pre code::before, .remarkdown pre code::after { display: none; }
.remarkdown pre { margin-top: 1.5em; margin-bottom: 1.5em; margin-left: 4ch; tab-size: 4; }

.remarkdown blockquote { margin: 1.5em 2ch; padding: 0; position: relative; }
.remarkdown blockquote::before {
  position: absolute; top: 0; left: -2ch; bottom: 0; width: 1ch;
  overflow: hidden; white-space: pre; cursor: default;
  content: ">\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a";
}
