@media screen and (min-width: 768px) {
        body{
                font-size: 20px;
                max-width: 70ch;
        }
}
.social-links {
        font-size: 2rem;
        text-align: center; /* This centers the links horizontally */
        text-decoration: none;
}

.social-links a {
        text-decoration: none;
        margin: 0.1em;
}

.social-links svg{
        fill: var(--link-visited);
        width: 2rem;
        height: 2rem;
        vertical-align: -0.125em;
}


.social-links .icon-shrink{
        width: 1.7rem;
        height: 1.7rem;
        vertical-align: 0em;
}

.post-navigation {
  display: flex;
  justify-content: space-between; /* Pushes the items to the far left and right */
  align-items: center; /* Vertically aligns the links */
padding: 20px 0;
}


/* Media query for smaller screens (e.g., mobile) */
@media (max-width: 768px) {
  .post-navigation {
    flex-direction: column; /* Stacks the items vertically */
    align-items: stretch; /* Makes them fill the full width */
  }

  /* Optional: Add space between the stacked links */
  .post-navigation .previous-post-link {
    margin-bottom: 10px;
  }
}
