{{ if .IsHome }}
{{ if .Site.Params.homeTitle }}
{{ $.Scratch.Set "title" .Site.Params.homeTitle }}
{{ else }}
{{ $.Scratch.Set "title" .Site.Title }}
{{ end }}
{{ else }}
{{ $.Scratch.Set "title" .Title }}
{{ end }}

{{ $title := $.Scratch.Get "title" }}
{{ if $title }}
<header>
        {{ partial "nav.html" . }}
        <div class="intro-header">
                <div class="container">
                        <div class="{{ .Type }}-heading">
                                {{ if eq .Type "list" }}
                                <h1 >{{ if .Data.Singular }}#{{ end }}{{ .Title }}</h1>
                                {{ else }}
                                <h1 >{{ with $title }}{{.}}{{ else }}<br/>{{ end }}</h1>
                                {{ if .IsHome }}
                                <p class="author" >{{ with .Site.Params.Author.name }}{{.}}{{ else }}<br/>{{ end }}</p>
                                <p class="social-links">
                                        <a href="#" aria-label="Projects">
                                                <i class="fas fa-folder-open"></i>
                                        </a>
                                        <a href="https://github.com/your-username" aria-label="GitHub">
                                                <i class="fab fa-github"></i>
                                        </a>
                                        <a href="#" aria-label="Publications">
                                                <i class="fas fa-book"></i>
                                        </a>
                                        <a href="https://linkedin.com/in/your-username" aria-label="LinkedIn">
                                                <i class="fab fa-linkedin"></i>
                                        </a>
                                        <a href="https://orcid.org/your-orcid-id" aria-label="ORCID">
                                                <i class="ai ai-orcid"></i>
                                        </a>
                                        <a href="https://scholar.google.com/citations?user=your-user-id" aria-label="Google Scholar">
                                                <i class="ai ai-google-scholar-square"></i>
                                        </a>
                                        <a href="mailto:your.email@example.com" aria-label="Email">
                                                <i class="fas fa-envelope"></i>
                                        </a>
                                </p>
                                {{ if .Site.Params.Author.abstract }}
                                <div class="abstract" >
                                        <h5>Abstract</h5>
                                        <p>
                                                During the compilation of a <span class="latex">L<span>a</span>T<span>e</span>X</span> document, several .aux files are produced, each containing information about
                                                the typesetting of the document. This website is written in a similar style, and has information about my projects,
                                                both ongoing and completed. 
                                        </p>
                                </div>
                                {{ end }}
                                {{ end }}
                                {{ end }}
                        </div>
                </div>
        </div>
</header>
{{ else }}
<div class="intro-header"></div>
{{ end }}
